

.contenedor-calculadora {
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    /*box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;*/
}

.contenedor-calculadora .card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenedor-calculadora .form-group label {
    color: #495057;
    font-weight: bold;
}

.contenedor-calculadora .form-control {
    border-color: #007bff;
    border-radius: 5px;
}

.contenedor-calculadora .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #007bff;
}

.contenedor-calculadora .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.contenedor-calculadora .btn-primary:hover {
    background-color: #0056b3;
}

.contenedor-calculadora .precio-total {
    font-size: 36px;
    font-weight: bold;
    color: #28a745;
    margin-top: 20px;
}

/*nav*/
