@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/* ----------------------------------- */

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    /* width: 100%; */
    /* overflow-x: hidden; */
}
body{
  background: 
  linear-gradient(90deg, rgba(1, 32, 76, 0.651) 35%, rgba(0,212,255,0) 100%),
  url("../img/fondo-contacto.jpg") right/auto 100% no-repeat;
  background-position: center;
  background-size: cover;
}
h3,
h2 {
    color: white;
}
p {
  color: white;
  margin: 30px 0;
  /*text-align: justify;*/
  font-size: 18px;
}
.header{
  background-color: #212121;
    display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo{
  cursor: pointer;
  margin-right: auto;
}

.header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
}

.header .nav-links li{
  display: inline-block;
  margin-top: 10px;
  padding: 29px;
}

.header .nav-links li:hover,
.overlay a:hover{
  transform: scale(1.1);
}

.header .nav-links a{
  font-size: 700;
  color: #eceff1; 
}

.header .nav-links a:hover{
  color: #0effdf;
}

.menu {
  display:none;
}

.header .btn button,
.header .menu button{
  margin-left: 20px;
  font-weight: 700;
  color: #212121;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
  background-color: #e2f1f8;
  color: #0effdf;
  transform: scale(1.1);
}
  
  
  /*Nav Mobile*/
  
  .header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
  }
  
  .header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #212121af;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    z-index: 11;
  }
  
  .header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }
  
  .header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
  }
  
  .header .overlay a:hover, 
  .header .overlay a:focus{
    color: #0effdf;
  }
  
  .header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
  }
  /* Carrousel */
.container {
  background-color: #000000c9;
    padding: 10px;
    backdrop-filter: blur(50px);
    border-radius: 30px;
    margin: 50px auto;
    padding: 20px;
}
.carousel-inner img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
/* Catalogo */
.containerBody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
.containerCard{
  width: 100%;
  max-width: 1100px;
  background-color: #000000c9;
  backdrop-filter: blur(50px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 40px;
  padding: 40px;
  overflow: hidden;
}
.tituloCard{
  width: 100%;
  display: flex;
  max-width: 1100px;
  padding-top: 1rem;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000c9;
  backdrop-filter: blur(50px);
  cursor: pointer;
  border-top-left-radius: 30px; /* Border-radius solo en la esquina superior izquierda */
  border-top-right-radius: 30px; /* Border-radius solo en la esquina superior derecha */
}
img{
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  overflow: hidden;
  background-size: cover
}
.img-container{
  width:300px;
  height:380px;
  overflow:hidden;
  object-fit: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardBoton{
  background-color: #000000c9;
  backdrop-filter: blur(50px);
  width: 100%;
  max-width: 1100px;
  padding-bottom: 1rem;
  border-bottom-left-radius: 30px; /* Border-radius solo en la esquina inferior izquierda */
  border-bottom-right-radius: 30px; /* Border-radius solo en la esquina superior derecha */
}
/* cards */

.card {
  width: 300px;
  height: min-content;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
}

.img {
  transition: all .3s;
  background: #ff0084;
  background: -webkit-linear-gradient(to right, #33001b, #ff0084);
  background: linear-gradient(to right, #33001b, #ff0084);
  width: 100%;
}
.img-container {
  display: grid;
  border-radius: .5rem 2rem;
  height: 270px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: start;
  padding: .5rem 1em;
  width: 90%;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.description:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}

/* botones publicar */
.btn-Publicar {
  position: relative;
  background-color: #0effdf;
  border-radius: 25px;
  box-shadow: #0effdf(121, 18, 55) 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 154px;
  height: 49px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.btn-Publicar::before {
  content: "";
  background-color: #0bac96;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.btn-Publicar:hover::before {
  width: 100%;
}

/* Pie de Pagina */ 
.pie-pagina {
  background-color: #212121;
}

.pie-pagina .grupo-1 {
    padding: 15px 0px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}
.box{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  flex-direction: column;
    align-items: center;
}

.imglg{
    max-width: 100%;
    width: 250px;
}

.pie-pagina .grupo-1 h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 {
    color: #efefef;
    margin-bottom: 10px;
}
p h2{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    word-break:break-all
}

.red-social {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: aqua;
    /* display: flex;
    justify-content: space-between; */
}
#iconRed{
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #212121;
    text-align: center;
    transition: all 300ms ease;
    color: aqua;
}

#iconRed:hover {
    box-shadow: inset 0px 0px 25px #14d8ea;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.pie-pagina .grupo-2 {
    text-align: center;
    color: #fff;
}

.grupo-2 {
    margin: 0 auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* boton descargar */ 
.button {
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    fill: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}
/* biblioteca */
.contenedor-principal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  max-width: 1100px;
  background-color: #000000c9;
  /* backdrop-filter: blur(50px); */
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 30px;
  overflow: hidden;
}
/* conctaco */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  background-color: #000000c9;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 30px;
  overflow: hidden;
}
main h1 {
  font-size: 2.3rem;
  color: white;
  margin: 0 auto;
}

.input-container label{
  font-size: 1rem;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input,
.input-container textarea {
  background-color: #f0f0f2;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 3px;
  margin-bottom: 15px;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: 2px solid #0effdf;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.input-container input {
  height: 30px;
}
.input-container textarea {
  margin-bottom: 40px;
  resize: none;
}
.loader {
  margin-top: 20px;
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00FF87;
}

.cell:nth-child(2) {
  --cell-color: #0CFD95;
}

.cell:nth-child(3) {
  --cell-color: #17FBA2;
}

.cell:nth-child(4) {
  --cell-color: #23F9B2;
}

.cell:nth-child(5) {
  --cell-color: #30F7C3;
}

.cell:nth-child(6) {
  --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
  --cell-color: #45F4DE;
}

.cell:nth-child(8) {
  --cell-color: #53F1F0;
}

.cell:nth-child(9) {
  --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}
  @media screen and (max-width: 980px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
  }

  @media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
  }