
    <div class="grupo-1">
        <div class="box">
                    <img src="img/imgProducto/logo.png" alt="Logo de SLee Dw" class="imglg">
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Dirección: 123 Calle Principal, Ciudad, País</p>
            <p>Email: info@impresiones3dstore.com</p>
            <p>Teléfono: +123 456 789</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <li>                 
                    <a href="#" id="iconRed" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="#"  id="iconRed" class="fa fa-instagram"></a>
                </li>
                <li>
                    <a href="#" id="iconRed" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="#" id="iconRed" class="fa fa-youtube"></a>
                </li>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>3D seos</b> - Todos los Derechos Reservados.</small>
    </div>